@using PawsDay.Services.ShoppingCart
@using PawsDay.ViewModels.Product
@using PawsDay.ViewModels.ShoppingCart.Carts
@using System.Text.Json
@model ListCartItemViewModel
@{
    Layout = "_LayoutCartNone";

    var validItems = Model.validCartItemList;
    var expiredItems = Model.expiredCartItemList;
    var count = 0; //控制生出幾隻毛孩的選項
    var userId = (int)ViewBag.userId;
    
}

@inject CartServices service;
@{

    //var cartSelectedItem = service.CreateSelectItems(1); //加入下拉選單的option
    //var jsonSelectedItems = JsonSerializer.Serialize(cartSelectedItem);
    var jsShapeList = ViewData["JSShapeList"]; //每一cartItem裏頭的選單(JSon格式)
    //var timeSPanList = ViewData["JStimeSpan"];
    string cardIdList = (string)ViewData["JScardId"];

    ViewData["Title"] = "購物車";
    
    var MemberIdjson = JsonSerializer.Serialize(ViewData["MemberId"]);
   
}

@section topCSS{

    <link href="~/css/ShoppingCart/01-cart.css" rel="stylesheet" type="text/css">
    <link href="~/css/Index/recommend.css" rel="stylesheet" type="text/css">
}
@section topJS{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
}


    <div class="shoppingcart-page">
        <div class="container shoppingcart-area">
            <div class="process py-4">
                <p>
                    <span>購物車</span>
                    <i class="fa-solid fa-angle-right mx-2"></i>
                    <span>填寫資料與付款</span>
                    <i class="fa-solid fa-angle-right mx-2"></i>
                    <span>訂購完成</span>
                </p>
            </div>


            <div class="shoppingcart">
                <div class="cart-title">
                    <h2>購物車</h2>
                </div>
                <form method="post">

                    <input asp-for="UserId" value="@userId" class="d-none">
                    <input asp-for="IndexOfSelectedItem" class="d-none hidden-cartItemIndexList" value="">

                <div class="cart-content">
                    


                    <ul class="cart-itemlist valid-item-list">
                        
                        @if (validItems.Count == 0){
                             <!-- 購物車空白begin -->
                            <li class="null-item flex-wrap align-items-center justify-content-center">
                                <div class="order-null">
                                    <img src="~/images/no order.png" alt="" class="order-null-img">
                                    <p>您的購物車空無一物</p>
                                    <a asp-route="Search" asp-route-searchinput="Recommend" class="pawsday-btn">立馬搜尋保姆</a>
                                </div>
                            </li>
                        }
                        else{
                        @foreach (var cartItem in validItems)
                            {


                                <li class="cart-item valid-list recommend-card d-flex flex-wrap align-items-center justify-content-center" cartNum="@(count)">
                                        
                                        <input type="checkbox" class="checkbox moneycheckbox" value="@cartItem.CartId"> @*之後要勾選刪除取得CartId*@
                                        <div class="photo-area">
                                            <div class="blocker" id="blocker"></div>
                                            <img class="d-block item-photo" src="@cartItem.Photo">
                                        </div>

                                    <div class="item-details valid-item-details">
                                            <div class="details-name">
                                                <p class="sitterName">@cartItem.SitterName</p>
                                                <p>@cartItem.Service</p>
                                            </div>
                                            <div class="time-select">
                                                <span class="d-block">@cartItem.ServiceDate</span>

                                                <span class="d-block">@cartItem.ServiceTime</span>
                                            </div>

                                            @*控制毛孩數量，可變更*@
                                            <input asp-for="validCartItemList[count].NumberOfPets" class="pet-change d-none" type="number" value="@cartItem.NumberOfPets" min="1" max="5">
                                            <span class="d-none">隻毛孩</span>

                                            <div class="accordion" id="accordionExample">

                                                <div class="accordion-item ">
                                                    <h2 class="accordion-header  " id="heading@(count)">
                                                    <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapse@(count)"
                                                    aria-expanded="false" aria-controls="collapse@(count)">
                                                            更改 類型/體型
                                                        </button>
                                                    </h2>
                                                    <div id="collapse@(count)" class="accordion-collapse collapse"
                                             aria-labelledby="heading@(count)" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body" cartNum="@(count)">

                                                        @*<input class="d-none hidden-for-timeQuan" value="@cartItem.TimeSpan">
                                                        @{
                                                            Console.WriteLine($"時間單位: {cartItem.TimeSpan}");
                                                        }*@
                                                        <input asp-for="validCartItemList[count].CartId" class="d-none hidden-for-cartId" value="@cartItem.CartId">
                                                        <input asp-for="validCartItemList[count].ProductId" class="d-none hidden-for-productId product-id" value="@cartItem.ProductId">
                                                        @foreach (var item in cartItem.PetListHeader)
                                                        {
                                                            
                                                            <input class="d-none hidden-for-detailId" value="@item.CartDetailId">
                                                        }

                                                        @*var pet = validItems[0].PetListHeader[1].PetType;
                                                        var petId = validItems[0].PetListHeader[1].PetTypeId;*@


                                                        @for (var x = 0; x< cartItem.NumberOfPets; x++ ){
                                                            <div class="pet-selection d-flex flex-wrap">
                                                                <label class="pet-set w-100">毛孩@(x + 1)</label>
                                                                <select class="w-50 petTypeSelect">
                                                                    <option class="defaultPet" selected="true" price="0" value="@cartItem.PetListHeader[x].PetType" disabled>
                                                                        @(cartItem.PetListHeader[x].PetType)
                                                                    </option>
                                                                    @foreach (var item in cartItem.SelectedTypeOptions.ServicePetTypes)
                                                                   {
                                                                       <option>@item</option>
                                                                   }
                                                                </select>
                                                                
                                                                <select  class="w-50 shapeTypeSelect">
                                                                    <option class="defaultShape" selected="true" price="0" value="@cartItem.PetListHeader[x].ShapeType" disabled>
                                                                        @(cartItem.PetListHeader[x].ShapeType)
                                                                    </option>

                                                                     @*js動態生成*@

                                                                </select>


                                                            </div>
                                                        }


                                                        </div>
                                                    </div>
                                                </div>


                                            </div>


                                            <div class="totalamount mt-2">
                                                <input asp-for="validCartItemList[count].Discount" type="text" class="hiddenDiscount d-none" value="@cartItem.Discount">


                                                @if(cartItem.Discount != 1){  //有discount
                                                    


                                                    //如果有discount才顯示
                                                    <div class="discountPercent">
                                                        <span>享@( (int)(cartItem.Discount * 10) )折優惠</span>
                                                    </div>

                                                    <div class="initPrice">
                                                    <span class="text-decoration-line-through text-secondary">TWD</span>
                                                        <input asp-for="validCartItemList[count].CartPrice" type="text" class="hiddenPrice d-none" value="0">
                                                    <span class="cart-item-price cartPrice text-decoration-line-through text-secondary">0</span>
                                                    </div>

                                                    <div class="discountedPrice">
                                                        <span>TWD</span>
                                                        <span class="cart-item-price cartPrice discount-price-text">0</span>
                                                    </div>
                                                }

                                                //沒有discount
                                                else{ 
                                                    <div class="initPrice">
                                                        <span>TWD</span>
                                                        <input asp-for="validCartItemList[count].CartPrice" type="text" class="hiddenPrice d-none" value="0">
                                                        <span class="cart-item-price cartPrice">0</span>
                                                    </div>

                                                    <div class="discountedPrice d-none">
                                                        <span>TWD</span>

                                                        <span class="cart-item-price cartPrice discount-price-text d-none">0</span>
                                                    </div>

                                                }
                                                    <input asp-for="validCartItemList[count].FinalCartPrice" type="text" class="hiddenDiscountedPrice d-none" value="">
                                        

                                                

                                                

                                            </div>
                                            @*<p class="totalamount  mt-2">@string.Format("{0:C}", cartItem.Price)</p>*@

                                            @if (Context.User.Identity.IsAuthenticated)
                                            {
                                                <p class="recommend-collect item-icons ">
                                                    @if (cartItem.IsFavored)
                                                    {
                                                        <i class="fa-solid fa-heart "></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-regular fa-heart"></i>
                                                    }
                                                </p>
                                            }

                                            

                                        

@*
                                            <p class="item-icons">
                                                <button><i class="fa-regular fa-heart"></i></button>
                                                
                                                <button><i class="fa-regular fa-trash-can"></i></button>

                                            </p>*@
                                        </div>
                                    </li>
                               

                                count++;

                            }
                        }

                        @*cart結束*@

                    </ul>

                </div>

                <div class="checkout">
                    <div class="checkout-actions">

                        
                        <label class="mx-2" id="checkoutall-label" for="">全選 <span id="itemQuan">(@(validItems.Count))</span></label>

                        <span class="mx-3">|</span>
                        

                        <!-- Button trigger modal -->
                        <button type="button" class="" data-bs-toggle="modal" data-bs-target="#deletecheckall-Modal" id="checkout-deleteitem">
                            刪除已選項目
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="deletecheckall-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">確定要刪除已選商品嗎?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary select-deleted-btn" data-bs-dismiss="modal">確定</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="checkout-finalize d-flex justify-content-end align-items-center">

                        <p class="final-price mx-4">
                            <span class="productQuantity">0 件商品合計</span>
                            <span>TWD</span>
                            <span class="finalTotalPrice">0</span>
                        </p>

                        <input asp-for="FinalTotalPrice" type="text" class="d-none hidden-for-finalTotalPrice" value="">
                        <button type="submit" asp-controller="ShoppingCart" asp-action="Booking" class="pawsday-btn  text-decoration-none" id="checkout-btn" onclick="GetFinalTotalPrice()" disabled>前往結帳</button>
                        @*<button class="pawsday-btn text-decoration-none"">前往結帳</button>*@
                        @*<button asp-route="Test" class="pawsday-btn text-decoration-none">前往結帳</button>*@
                        

                    </div>

                </div>

                </form>

            </div>

            <p class="resume-shopping d-flex justify-content-end py-4">
            <a asp-route="Search" asp-route-searchinput="Recommend" class="back-home">
                    繼續購物
                    <i class="fa-solid fa-angle-right "></i>
                </a>
            </p>
            
            <div class="recheck-item my-5">
                <div class="cart-title">
                    <h2>已失效的商品</h2>
                </div>
                <div class="cart-content">
                    <ul class="cart-itemlist expired-item-list">
                        @if(expiredItems.Count == 0){
                        <li class="null-item flex-wrap align-items-center justify-content-center">
                            <div class="order-null">
                                <img src="~/images/no order.png" alt="" class="order-null-img">
                                <p>無失效項目</p>
                            </div>
                        </li>
                        }
                        else{
                            @foreach (var cartItem in expiredItems)
                            {
                            <li class="cart-item recommend-card d-flex flex-wrap align-items-center">
                                <input class="hidden-for-cartId d-none" value="@cartItem.CartId">
                                <input class="d-none hidden-for-productId product-id" value="@cartItem.ProductId">
                                        <div class="photo-area">
                                            <div class="blocker" id="blocker"></div>
                                            <img class="d-block item-photo" src="@cartItem.Photo">
                                        </div>
                                        <div class="item-details">
                                            <div class="details-name">

                                                <p class="sitterName">@cartItem.SitterName</p>
                                                <p>@cartItem.Service</p>

                                            </div>
                                            <div class="time-select">
                                                <span class="d-block">@cartItem.ServiceDate</span>

                                                <span class="d-block">@cartItem.ServiceTime</span>
                                            </div>
                                            <div class="remark">
                                                <p class="select-others">所選服務已失效，請重新選擇</p>
                                                <p class="redirection">移至商品頁重新選擇</p>
                                            </div>


                                        <p class="recommend-collect item-icons ">
                                            @if (cartItem.IsFavored)
                                            {
                                                <i class="fa-solid fa-heart "></i>
                                            }
                                            else
                                            {
                                                <i class="fa-regular fa-heart"></i>
                                            }
                                        </p>


                                        </div>
                                    </li>




                            }
                        }

                    


                    </ul>
                </div>

                <div class="remove-all">
                    <div class="remove-actions">

                        
                        @*<span>全部移除</span>*@
                        <button type="button" class="" data-bs-toggle="modal" data-bs-target="#expired-Modal" id="checkout-deleteitem">
                            <i class="fa-regular fa-trash-can"></i>
                            全部移除
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="expired-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">確定刪除全部失效商品?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary delete-all-expired" data-bs-dismiss="modal">確定</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <partial name="_Recommend">

        </div>
    </div>


    @section endJS{
    <script>
        var CartsShapeList = @Html.Raw(jsShapeList);
        var cardIdList = @Html.Raw(cardIdList);

        let MemberIdjs = @Html.Raw(MemberIdjson);
    </script>
    <script src="~/js/Index/recommend.js"></script>
    <script src="~/js/ShoppingCart/Cart.js"></script>
}

