@using PawsDay.ViewModels.Account
@using System.Text.Json
@model ResetPasswordViewModel


    @section topCSS{
    <link rel="stylesheet" href="~/css/member/member-center.css">
    <link rel="stylesheet" href="~/css/member/member-account-safety.css">
}

@{
    ViewData["Title"] = "重新設定密碼";
}

<article>
    <section class="container section justify-content-center">

     
        <section class="personal-information col-12 col-lg-9">
            <div class="container-input">
               
                <!-- 基本資料頁籤 -->
                <div class="container-input-body basic-info-sheet">
                    <div class="row container-password" id="password">
                        <div class="container-h4">
                            <h4>更改密碼</h4>
                        </div>
                        <form method="post">
                          
                            <div class="inputs col-12 col-lg-12 ">
                                <label for="newpassword" class="pawsday-input-label">
                                    新密碼
                                    <span class="text-danger">*</span>
                                </label>
                                <input asp-for="@Model.NewPassword" type="password" placeholder="新密碼 " class="pawsday-input" id="newpassword" required v-model="inputData.newPassword"
                                       :class="{'is-invalid':inputDataCheck.newPasswordError}">
                                <div class="text-danger password-check">{{inputDataCheck.newPasswordErrorMsg}}</div>
                            </div>
                            <div class="inputs col-12 col-lg-12 ">
                                <input asp-for="@Model.NewCheckPassword" type="password" placeholder="再次確認新密碼 " class="pawsday-input" id="checkpassword" required v-model="inputData.newCheckPassword"
                                       :class="{'is-invalid':inputDataCheck.newCheckPasswordError}">
                                <div class="text-danger password-check">
                                    {{inputDataCheck.newCheckPasswordErrorMsg}} {{isDifferentPasswordMsg}}
                                </div>
                            </div>
                            <div class="d-none">
                                <input asp-for="AccountInfoId" value="@Model.AccountInfoId" type="number" />
                                <input asp-for="IntputExpirationTime" value="@Model.IntputExpirationTime" type="text" />                             

                            </div>
                            @if (Model.UpdateAccount.IsUpdate != false)
                            {
                                <div class="text-danger account-fail">
                                    <p>@Model.UpdateAccount.Message</p>
                                </div>
                            }

                            <div class="col-12 container-input-save ">                             
                                <button class="pawsday-btn" :disabled="!isVerify" asp-controller="Account" asp-action="ResetPassword" type="submit"  >儲存</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
</article>

@section endJS{

    <script src="~/js/Account/ResetPasswordByForgotPassword.js"></script>
}
    @section endCSS{
}
