@using PawsDay.ViewModels.SitterCenter
@model OfficialContactViewModel
@{
    ViewData["Title"] = "聯繫客服";
    Layout = "_LayoutSitterCenter";
}
@section topJS{

}
    @section topCSS{
    <link rel="stylesheet" href="~/css/SitterCenter/sitter-center.css">
    <link rel="stylesheet" href="~/css/SitterCenter/sitter-ordersidebar.css">
    <link rel="stylesheet" href="~/css/SitterCenter/sitter-ordercontact.css">
}


    <article>
        <section class="container container-link">
            <ol class="container-link-ol">
                <li>
                    <a asp-controller="SitterCenter" asp-action="OrderList" class="container-link-a">訂單管理</a>
                </li>
                <li class="container-link-span">
                    <span>></span>
                    <a asp-controller="SitterCenter" asp-action="OrderDetail" asp-route-id="@Model.OrderNum" class="container-link-a">
                        <span>訂單編號 @Model.OrderNum</span>
                    </a>
                </li>
                <li class="container-link-span">
                    <span>></span>
                    <span>訊息內容</span>
                </li>
            </ol>
        </section>
        <section class="container section">
            <partial name="_SitterOrderBar">
                <section class="container-feature col-12 col-lg-8">
                    <section class="order-feature">
                        <div class="order-feature-h4">
                            <h4>PawsDay客服-訂單詢問</h4>
                        </div>
                        <div class="container-input col-12 col-lg-12">
                    
                                <div class="inputs">
                                    <p>服務時間 : 09:00 ~ 18:00</p>
                                    <textarea placeholder="訊息內容必須少於20字" class="pawsday-input pawsday-textarea" id="contact-us"
                                          required ></textarea>
                                </div>
                                <div class="container-input-footer">
                                    <div id="error-message" class="text-danger"></div>
                                    <input class="d-none" value="@Model.OrderID" id="orderid">
                                    <input class="d-none" value="@Model.OrderNum">
                                    <div class="container-input-save">
                                        <button type="button" class="pawsday-btn" id="submit-btn" >送出</button>
                                    </div>
                                </div>
                         

                        </div>
                        <div class="order-message">
                        @if (Model.Contact.Count() == 0)
                        {
                            <div class="order-message-null">
                                <img src="~/images/no collect.png" alt="還沒有訊息">
                            </div>
                            <p>還沒有訊息</p>
                        }
                        else
                        {
                            @foreach (var item in Model.Contact)
                            {
                                @if (item.IsUserType == true)
                                {
                                    <div class="order-message-ask">
                                        <img src="@item.UserImage" alt="保姆頭像">
                                        <div class="message-ask-p">
                                            <div class="message-ask-before"></div>
                                            <p>@item.Message</p>
                                            <p class="message-ask-date">@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="order-message-reply">
                                        <img src="~/images/P.png" alt="官網頭像">
                                        <div class="message-reply-p">
                                            <div class="message-reply-before"></div>
                                            <p>@item.Message</p>
                                            <p class="message-reply-date">@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</p>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        </div>
                    </section>
                </section>

        </section>
    </article>



    @section endJS
    {
    <script src="~/js/SitterCenter/OrderChat.js" asp-append-version="true"></script>


}
