@using PawsDay.ViewModels.SitterCenter
@model List<ProductSalesViewModel>
@{
    var products = Model;
    ViewData["Title"] = "商品促銷設定";
    Layout = "_LayoutSitterCenter";
}
@section topJS{
}
    @section topCSS{
    <link rel="stylesheet" href="~/css/SitterCenter/sitter-center.css">
    <link rel="stylesheet" href="~/css/SitterCenter/sitter-order.css">
}


    <article>
        <section class="container section">
            <partial name="_SitterSideBar"></partial>

            <section class="personal-information col-12 col-lg-9">
                <div class="container-service">
                    <div class="container-service-header">
                            <h2 class="currenttitle">保姆服務管理</h2>
                        <ul>
                                <a asp-route="ProductSetting/On">
                                <li class="service-btn service-open ">上架中</li>
                                </a>
                                <a asp-route="ProductSetting/Off">
                                <li class="service-btn service-close">已關閉</li>
                                </a>
                                <a asp-route="DiscountSetting">
                                <li class="service-btn service-sale this-page">促銷設定</li>
                                </a>
                                <a asp-route="PromoteSetting">
                                <li class="service-btn service-project">廣告投放</li>
                                </a>
                                <a asp-controller="SitterCenter" asp-action="CreateServiceWithDetail">
                                <li class="service-btn service-add"><i class="fa-solid fa-plus"></i>新增服務</li>
                                </a>
                        </ul>
                    </div>



                    <!-- 促銷 -->
                    
                    <div class="container-service-body sale-sheet">
                        <div class="btn-box">
                            <span class="text-danger add-span"></span>
                            <button class="pawsday-btn sale-add">新增</button>
                            
                            
                        </div>
                        @if (products.Count()==0)
                        { 
                            <div class="service-null">
                                <a asp-controller="SitterCenter" asp-action="CreateServiceWithDetail">
                                <p>沒有已上架的服務商品，手刀上架</p>
                                <div class="null-img">
                                    <img src="~/images/pug.jpg" alt="沒有上架中的服務">
                                </div>
                                </a>
                            </div>
                        }
                        else
                        {
                            @foreach (var product in products)
                            {

                                <div class="commodity-card row">
                                    <div class="commodity-item col-12 col-md-7 row">
                                        <div class="commodity-img col-4"><img src="@product.ProductImage" alt="商品圖"></div>
                                        <div class="commodity-content col-8">
                                            <h2 class="commodity-title" id="commodity-title">@product.SitterName | @product.ServiceType</h2>

                                            <span class="commodity-place">
                                                <i class="fa-solid fa-location-dot"></i>
                                                @foreach (var area in product.ServiceArea)
                                                {
                                                    <p id="commodity-place">@area.County-@area.District</p>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                    <div class="set-box col-12 col-md-5">
                                        <button class="fa-solid fa-minus  minus"></button>
                                        <input value="@product.Quantity" type="text" class="amount">
                                        <button class="fa-solid fa-plus plus"></button>
                                        <p>件</p>
                                        <input value="@product.Discount" type="text" class="discount">
                                        <p>折</p>
                                        <div class="btn-box">
                                            <button class="sale-delete">刪除</button>
                                            <button class="sale-save">儲存</button>
                                            <p class="checkinfo"></p>
                                            <div id="productid" class="d-none">@product.ProductID</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        

                        
                        </div>
                    
                        <div class="product-list">
                            <h2>請選擇要設定促銷的商品</h2>
                            <div class="product-list-close"><i class="fa-solid fa-xmark"></i></div>
                                <div class="loadingbox">
                                    <img src="https://res.cloudinary.com/dnsu1sjml/image/upload/v1665245299/jack-russell-terrier-puppy-seven-weeks-old-standing-white-background-picture-id120709850_lsxxmb.jpg">
                                    <div class="cssload-container">
                                        <div class="cssload-item cssload-moon"></div>
                                    </div>
                                    <span>載入中，請稍後</span>
                                </div>
                            <div class="product-box">
                               
                            </div>

                        </div>
                    </div>

                    


            </section>
        </section>
    </article>

    @*促銷模板*@
    <template id="salebox">
    <div class="commodity-card row">
        <div class="commodity-item col-7 row">
            <div class="commodity-img col-4"><img alt="商品圖"></div>
            <div class="commodity-content col-8">
                <h2 class="commodity-title" id="commodity-title"></h2>
                <span class="commodity-place">
                    <i class="fa-solid fa-location-dot"></i>
                    <p id="commodity-place"></p>
                </span>
            </div>
        </div>
        <div class="set-box col-5">
            <button class="fa-solid fa-minus  minus"></button>
            <input  type="text" class="amount">
            <button class="fa-solid fa-plus plus"></button>
            <p>件</p>
            <input  type="text" class="discount">
            <p>折</p>
            <div class="btn-box">
                <button class="sale-delete">刪除</button>
                <button class="sale-save" >儲存</button>
                <p class="checkinfo"></p>
                <div id="productid" class="d-none"></div>
            </div>
        </div>
    </div>
    </template>
    @*列表模板*@
    <template id="productbox">
    <div class="commodity-card listbox-product">
        <div class="commodity-item">
            <div class="id-box d-none"></div>
            <div class="commodity-img col-4"><img src="" alt="商品圖"></div>
            <div class="commodity-content">
                <h2 class="commodity-title" id="commodity-title"></h2>

                <p class="commodity-service">
                    
                </p>
                <span class="commodity-place">
                    <i class="fa-solid fa-location-dot"></i>
                    
                </span>
            </div>
            </div>
        </div>
    </template>


    @section endJS
    {
    <script src="~/js/SitterCenter/SitterSiderbar.js" asp-append-version="true"></script>
    <script src="~/js/SitterCenter/SitterSales.js" asp-append-version=true></script>
    
    }
